@import "../../../../../css/variables";
.d-tabs
{
    border-bottom: solid thin #eff3fa;
    height: 30px;
    &__block 
    {
        float: left;
        margin-right: 10px;
        color:$tab-color;
        height: 26px;
        font-size:$font-size;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: solid 4px transparent;
        cursor: pointer;
        &.active 
        {
            color:$tab-color-active;
            border-bottom-color:$tab-color-active;
        }
        &:last-child 
        {
            margin-right: 0;   
        }
    }
}