
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$i2r-primary: mat-palette($mat-indigo);
$i2r-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$i2r-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$i2r-theme: mat-light-theme($i2r-primary, $i2r-accent, $i2r-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($i2r-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "reset.scss";                      // Import Reset
@import "variables.scss";                  // Import Variables 
@import "icons.scss";                      // Import Icons 
@import "datepicker.scss";                 // Import Icons 
@import "spinners.scss";                  // Spinners 
@import "ng2select.scss";                  // Import ng select 2 styles


body 
{
    font-family: $font-family-sec;
    font-size: $font-size;
    font-weight: 400;
    background: $primary-color;
}
.d-spacer 
{
    flex-grow: 1;
}
a,a:hover 
{
    text-decoration: none;
}

.d-flex
{
    display: flex;
    &-acenter
    {
        align-items: center;
    }
}

.d-marginTop 
{
    margin-top: 15px;
}
.d-marginBottom
{
    margin-bottom: 25px;
}

.d-nopadding
{
    padding: 0 !important;
}
.d-textcenter 
{
    text-align: center !important;
    display: block;
    .d-button 
    {
        margin: auto;
    }
}
.d-heading3
{
    color:$heading-color-primary;
    font-size:$font-size-large;
    font-weight: 600;
}
.d-active
{
    color:$paid-color-text;
}
.d-assets 
{
    display: flex;
    justify-content: space-between;
    &__section 
    {
        background: $white-color;
        border-radius: $border-radius;
        padding: 20px 15px;
        flex:1;
        margin-right: 30px;
        display: flex;
        align-items: center;
        box-shadow: $box-shadow;
        &:last-child 
        {
            margin-right: 0;
        }
    }
    &__block 
    {
        padding-left: 60px;
        padding-right: 10px;
        position: relative;
        flex:1;
        border-right:solid thin $primary-color;
        span 
        {
            position: absolute;
            width:40px;
            height: 40px;
            border-radius:50%;
            left:10px;
            top:50%;
            transform: translateY(-50%);
            &:before 
            {
                width:40px;
                height: 40px;
                left:0;
                top:0;
            }
        }
        &:last-child 
        {
            border-right:none;
        }
    }
    &__details 
    {
        h3 
        {
            font-size: 22px;
            font-weight:bold;
            color:$heading-color-secondary;
            padding-bottom: 8px;
        }
        p 
        {
            color:$primary-text-color;
            font-size: $font-size-small;
            line-height: 16px;
        }
    }
}

.d-chart 
{
    display: flex;
    &__section 
    {
        flex:1;
        margin-right: 30px;
        background: $white-color;
        border-radius: 10px;
        padding:15px 20px;
        box-shadow: $box-shadow;
        &:last-child 
        {
            margin-right: 0;
        }
    }
    &__heading 
    {
        font-size: $font-size-extraLarge;
        font-weight: 600;
        color:$secondary-color;
        padding-bottom: 10px;
        border-bottom: solid thin $border-color-2;
        &.heading1 
        {
            font-size: $font-size-large;
        }
    }
    &__select 
    {
        display:flex;
        margin-top: 15px;
        &-block 
        {
            flex:1;
            background: $table-head-color;
            border-radius: 5px;
            &:nth-child(2n) 
            {
                margin-left: 20px;
            }
        }
    }
}


.d-tabs
{

    
    &__content 
    {
        position:relative;
    }
    &__head
    {
        &:first-child,&:last-child 
        {
            padding: 0 0 !important;
        }
        table 
        {
            tr 
            {
                th 
                {
                    &:first-child
                    {
                        padding-left:30px !important;
                    }
                    &:last-child 
                    {
                        padding-right:30px !important;
                    }
                }
            }
        }
    }
    .d-search
    {
        position: absolute;
        right:0;
        top:-80px;
    }
    &__contenttable
    {
        border:solid thin $table-border-color;
        border-radius: 10px;
        table
        {
            width:100%;
            font-size:14px;
            background: $white-color;
            table-layout: fixed;
            position: inherit;
            border-radius: 10px;
            tr 
            {
                border-bottom:solid thin $table-border-color;
                &:last-child 
                {
                    border-bottom: none;
                }
                th,td 
                {
                    word-break: break-word;
                    text-align: left;
                }
                th 
                {
                    background: $table-head-color;
                    height: 50px;
                    line-height: 20px;
                    vertical-align: middle;
                    font-weight: 600;
                    padding: 0 5px !important;
                    color:$table-head-text-color;
                    text-transform: uppercase;
                    &:first-child
                    {
                        padding-left: 30px;
                    }
                    &:last-child
                    {
                        padding-right: 30px;
                    }
                }
                td 
                {
                    color:$table-content-text-color;
                    table
                    {
                        tr 
                        {
                            border-bottom: none;
                            td 
                            {
                                padding: 15px 5px;
                                line-height: 20px;
                                vertical-align: middle;
                                &:first-child
                                {
                                    padding-left: 30px;
                                }
                                &:last-child
                                {
                                    padding-right: 30px;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
.d-tableHead
{
    &.show 
    {
        position: relative;
        &:before 
        {
            content:"";
            position: absolute;
            z-index: 0;
            top:0;
            bottom: 0;
            left:0;
            right:0;
            box-shadow: 0 0 10px 0 rgba(160, 160, 160, 0.5);
        }
    }
    &.deleting
    {
        table 
        {
            background: #ff00000d;
            text-decoration: line-through;
        }
    }
}


.d-button
{
    border:solid thin $tab-color-active;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color:$tab-color-active;
    font-weight: 600;
    text-align: center;
    max-width: 130px;
    display: block;
    transition: all ease-in 0.2s;
    &:hover 
    {
        background: $tab-color-active;
        color:$white-color;
        .icon
        {
            &.icon-up 
            {
                
                &:before 
                {
                    border-color:#ffffff;
                }
            }
        }
    }
    
}


.d-info
{
    &__block 
    {
        background: $table-info-color;
        padding: 25px 15px;
        border:solid thin $table-info-border;
        border-radius: 5px;
        &:before 
        {
            opacity: 0;
        }
    }
    &__wrapper 
    {
        padding: 15px 30px;
        position: relative;
        z-index: 2;
    }
}

.d-input
{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-size: $font-size;
    &__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .d-input__button
        {
            flex:1;
            justify-content: flex-end;
            height: auto;
        }
    }
    &__text
    {
        color:$table-head-text-color;
        font-size: $font-size;
        font-weight:600;
        margin-right: 10px;
        width: 140px;
        text-align: right;
    }
    &__block 
    {
        position: relative;
        input[type="text"],input[type="number"]
        {
            height: 40px;
            line-height: 40px;
            background: $white-color;
            border: solid thin $table-info-input-border;
            display: block;
            padding: 0 10px;
            font-size: $font-size;
            outline:none;
            &.dp-picker-input
            {
                width:auto !important;
                height: 40px !important;
                box-sizing:content-box;
            }
        }
        .error 
        {
            color:darken($error-danger,20%) !important;
            position: absolute;
            font-size: 11px;
            left:0;
            right: 0;
            bottom: -23px;
            text-align: right;
        }
        .success
        {
            display: none;
        }
        dp-date-picker
        {
            border: none !important;
        }
        .field-error
        {
            border:solid thin $error-danger !important;
        }
        .field-error-datepicker 
        {
            .dp-picker-input
            {
                border:solid thin $error-danger !important;
            }
        }
        .close_date
        {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 99;
            color: #2c7b30;
            height: 42px;
            line-height: 42px;
            padding: 0 10px;
        }
    }
    &__select 
    {
        width:190px;
        position: relative;
        span 
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 40px;
            line-height: 40px;
            border: solid thin $table-info-input-border;
            display: block;
            padding: 0 10px;
            background: $white-color url(../assets/icon-arrowdown.svg) 95% center no-repeat;
        }
        select 
        {
            position: absolute;
            width:100%;
            top:0;
            left:0;
            opacity: 0;
            height: 40px;
        }
    }
    &__button
    {
        margin-top: 10px;
        text-align: right;
        height: 35px;
        button 
        {
            display: inline-block;
            background: $tab-color-active;
            color:$white-color;
            cursor: pointer;
            outline: none;
            height: 34px;
            line-height: 34px;
            min-width:120px;
            max-width: 100%;
            margin-right: 20px;
            position: relative;
            &:hover 
            {
                background: darken($tab-color-active,10%);
            }
            span 
            {
                display: block;
            }
            &:last-child 
            {
                margin-right: 10px;
            }
        }
        
    }
    &.disabled 
    {
        input[type="text"],input[type="number"],.d-input__select span   
        {
            background-color: $table-info-input-disabled-bg;
            font-weight: normal;
            color:$table-info-input-disabled-color;
        }
        .d-input__text
        {
            color:$table-info-input-disabled-info;
        }
    }
    &__textarea
    {
        width: 300px;
        textarea
        {
            width:90%;
            width: calc(100% - 22px);
            resize: none;
            display: block;
            padding: 0;
            border: solid thin #d9ddf5;
            height: 55px;
            padding: 5px;

        }
    }
    &__comments 
    {
        ul 
        {
            li 
            {
                color:$comments-color;
                padding: 3px 0;
                font-size: 14px;
            }
        }
    }
}
.alert {
    position: absolute;
    font-size: 12px;
    &-danger
    {
        color:#ff0000;
    }
}
.d-input__text
{
    span.error 
    {
        color:#ff0000;
    }
}

.d-pagination
{
    display: flex;
    &__block 
    {
        .ngx-pagination 
        {
            li 
            {
                width:20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                padding: 0;
                vertical-align: middle;
                border-radius: 3px;
                margin: 0 2px;
                &.current
                {
                    background: $secondary-color;
                }
                a 
                {
                    padding: 0;
                    font-size: $font-size-small;
                }
                &.pagination-next,&.pagination-previous
                {
                    &:before,&:after 
                    {
                        margin: 0;
                    }
                    a 
                    {
                        &:before,&:after 
                        {
                            margin: 0;
                        } 
                    }
                }
            }
        }
    }
}


.d-button
{
    &:disabled {
        opacity: 0.2;
        background: #4381c1 !important;
        cursor: not-allowed;
    }
    &__update,&__anchor 
    {
        &:disabled{
            background: none !important;
        }
    }
    &__upload 
    {
       background: #4381c1 !important; 
       color:#ffffff !important;
       cursor: pointer;
    }
}


.d-attachment
{
    span 
    {
        display: inline-block;
        vertical-align: middle;
        color:#428DFF;
        text-decoration: underline;
        cursor: pointer;
        &.icon-attach 
        {
            margin-right: 5px;
        }
    }
}
.d-input
{
    &__uploaded
    {
        ul 
        {
            li 
            {
                display: inline-block;
                margin-left: 10px;
                a 
                {
                    text-decoration: underline;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }
    }
}

.d-clientInfo
{
    display: flex;
    padding: 10px 25px;
    flex-wrap: wrap;
    background: $white-color;
    border-radius: $border-radius;
    border:solid thin $clientInfo-border;
    &__block 
    {
        padding: 10px 0;
        margin-right: 20px;
        font-size: 14px;
        color:$comments-color;
        position: relative;
        > span 
        {
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__head
    {
        color:$table-head-text-color;
        font-weight: 600;
        margin-right: 5px;
    }
    &__assign
    {
        a 
        {
            color:$anchor-color;
            font-size:$font-size-large;
            text-decoration: underline;
        }
        &list 
        {
            position: absolute;
            top:35px;
            right:25px;
            padding:12px 15px;
            border:solid thin $clientInfo-border;
            border-radius: $border-radius;
            background: $table-info-color;
            z-index: 1;;
            ul 
            {
                li 
                {
                    a 
                    {
                        color:$input-color;
                        padding:7px 0;
                        display: block;
                        &:hover 
                        {
                            color:darken($input-color,20%);
                        }
                    }
                }
            }
        }
    }
    &__tableblock
    {
        font-size: $font-size;
        padding: 10px 0;
        position: relative;
        &:after 
        {
            content:"";
            position: absolute;
            width:1px;
            right:0;
            top:10px;
            bottom: 10px;
            background: $table-border-color;
        } 
        li 
        {
            color:$comments-color;
            padding: 5px 10px;
            span 
            {
                color:$table-head-text-color;
                font-weight: 600;
                margin-right: 5px;
                width: 80px;
                display: inline-block;
            }
        }
    }
    &__table
    {
        tr 
        {
            td 
            {
                tr 
                {
                    td 
                    {
                       &:last-child
                       {
                           ul 
                           {
                               &:after 
                               {
                                   display: none;
                               }
                           }
                       }
                    }
                }
            }
        }
    }
}

.d-asscoiatelist
{
    &__head
    { 
        display: flex;
        align-items: center;
    }
}
.d-associate__actions
{
    display: flex;
    align-items: center;
    .d-input__button
    {
        margin-top: 0;
        margin-left: 20px;
        .d-button
        {
            &:last-child 
            {
                margin-right: 0;
            }
        }
    }
}
.d-linkcolor
{
    color:$link-color;
    &:hover 
    {
        text-decoration: underline;
    }
}

.d-associate__checkbox
{
    position: relative;
    .d-input__checkbox
    {
        position: absolute;
        left:-30px;
    }
}

.d-input__checkbox
{
    position: relative;
    input[type="checkbox"]
    {
        opacity: 0;
        position: absolute;
    }
    input[type="checkbox"]:checked + label 
    {
        &:after 
        {
            left: 3px;
            width: 7px;
            height: 13px;
            border-right: solid 3px #3fb768;
            border-bottom: solid 3px #3fb768;
            transform: rotate(45deg);
        }
    }
    label 
    {
        color:#5a667e;
        font-size: 16px;
        position: relative;
        padding-left: 22px;
        cursor: pointer;
        &:before 
        {
            position: absolute;
            content:"";
            left:0;
            display: block;
            width:15px;
            height: 15px;
            border:solid thin #d9ddf5;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:after 
        {
            content:"";
            position: absolute;
        }
    }
}
.d-search
{
    input[type="search"]
    {
        height: 40px;
        line-height: 40px;
        width:180px;
        padding: 0 10px;
        padding-left: 40px;
        display: block;
        font-size:$font-size-small;
        outline:none;
        border:solid thin  $table-border-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color:$input-color;
        background: $white-color url(../assets/icon-search.svg) no-repeat 15px center;
        transition:all ease-in 0.2s;
        &:focus 
        {
            // width:290px;
            // background-image:none;
            // padding-left:10px;
            color:#000000;
            border:solid thin darken($table-border-color,10%);
            font-size: 14px;
        }
    }   
}


.deleteRow
{
    background: rgba(#ff0000,0.05) !important;
    text-decoration: line-through !important;
}

.d-progressbar
{
    width:400px;
    height:22px;
    margin-top: 5px;  
    background: #f2f2f2;
    span 
    {
        display: block;
        background:#43c178;
        color:#ffffff;
        align-content: center;
        height:22px;
        width:0;
        transition: all ease-in 0.2s;
    }
    &__status
    {   
        color:#50567f;
        font-size:12px;
    }
}


#chartjs-tooltip
{
    background: rgba(0,0,0,0.8);
    border-radius: 2px;
    color:#ffffff;
    transition: all ease-in 0.2s;
    padding:0 10px; 
    position:relative;
    height:25px;
    line-height: 25px;
    transform: translateX(-50%);
    min-width: 120px;
    text-align: center;
    &:before 
    {
        content:"";
        display:block;
        width:0px;
        height: 0px;
        border-bottom: solid 5px rgba(0, 0, 0, 0.8);
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        position: absolute;
        top: -5px;
        margin: auto;
        left: 0;
        right: 0;
    }
}


.d-clientid
{
    color:$link-color;
    font-weight:600;
    text-decoration: underline;
}
.d-assignanchor
{
    color:$anchor-color;
    font-weight:600;
    text-decoration: underline;
}


@media screen and (max-width:1280px)
{
    .d-input
    {
        flex:1;
    }
    .d-input__text
    {
        font-size:12px;
        width: 130px;
    }
    .d-input__block input[type="text"], 
    .d-input__block input[type="number"],
    .d-input__select span
    {
        width:120px;
    }
    .d-input__select span
    {
        font-size: 12px;
    }
}
html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
